
/*-------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: fontbrand;
    src: url('Botalies Kagetan.otf')
}

.navbar {
    background-color: #646c77;
}

.navbar-brand {
    font-size: 40px !important;
    font-family: fontbrand;
}

.besar_logo {
    width: 20%;
}


/*--------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------*/














