
/*-------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: fontbrand;
    src: url('Botalies Kagetan.otf')
}

/*------------------------------------NAV BAR-------------------------------------------------------------------*/

.navbar {
    background-color: #646c77;
}

.navbar-brand {
    font-size: 30px !important;
    font-family: fontbrand;
    text-transform: uppercase;
}

.besar_logo {
    width: 20%;
}

/*----------------------------------------END OF NAVBAR---------------------------------------------------------------*/















